templateData:
  site:
    title: "Speedboats & Big Explosions"
    url: "http://speedboatsandbigexplosions.com"
    description: """
      Two Retro cops team up to become the super duo: Speedboats & Big Explosions.
      """

    # The website keywords (for SEO) separated by commas
    keywords: """
      Speedboats & Big Explosions, SBBE, Music, House Music, Deep House, Funky House, Toronto
      """

    # The website's styles
    styles: [
      'http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold'
      'main.css'
    ]

    # The website's scripts
    scripts: [
      'vendor/jquery/jquery.min.js'
      'main.js'
    ]

    analytics: 'UA-347108-4'

plugins:
    ghpages:
        deployBranch: 'live'
